<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<hr/>
<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
    <%= review.content %>
    <%= review.rating %>
    </li>
  <% end %>
</ul>

